:root {
    --mainBrown: #2d1ef1;
    --mainYellow: #ff9e09;
    --mainGrey: #ece8dc;
    --mainWhite: #dddddd;
    --mainDark: #222;
    --mainCoffe: #6f4e37;
}

body {
    background: #ffffff;
    background-color: rgb(192, 155, 133);
    color: var(--mainDark);
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    min-width: 100vh;
    min-height: 100vh;
}

.text-yellow {
    color: var(--mainYellow)
}

.cart-icon {
    cursor: pointer;
    color: var(--mainCoffe);
    font-size: 2rem;
}