.bgImage {
    min-height: 100vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #6f4e377c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
}

.title {
    position: fixed;
    color: rgb(49, 49, 49);
    mix-blend-mode: difference;
}

.about {
    max-height: 60vh;
}