@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.banner {
  width: 95%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  .titleBanner {
    color: #994311;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
  }
}
