@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.banner {
  min-width: 15%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  .titleBanner {
    color: #994311;
    font-family: "Great Vibes", cursive;
    font-size: 65px;
    line-height: 100px;
    font-weight: normal;
    margin-top: 25px;
    text-align: center;
    text-shadow: 0 1px 1px #cf7035;
  }
}
