.begin {
  width: 95%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  .beginBox {
    width: 25%;
    height: 480px;
    margin: 45px 0;
    .photoBegin {
      width: 45%;
      margin: auto 5px;
      height: 480px;
    }
  }
  .beginText {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #7a4e35;
  }
}
