.board {
  width: 95%;
  min-height: 450px;
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  @media (max-width: 1348px) {
    grid-template-columns: 300px 300px 300px;
  }
}
