.filosofia {
  max-width: 95%;
  background-color: white;
  max-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  .filoText {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .filoItem {
      height: 100px;
      width: 80%;
      margin: 15px 30px;
      .titleFilo {
        color: #7a4e35;
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
      }
      .paraFilo {
        font-size: 1.1rem;
      }
    }
  }
  .photoFilo {
    background-color: blue;
    width: 600px;
    @media (max-width: 750px) {
      width: 30%;
      height: 300px;
    }
  }
}
