.footer {
  width: 100%;
  background-color: #020202;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 80px;
  outline: 6px solid #6f4e37;
  border-top: 1px solid #555555;
  .copyRights {
    color: #6f4e37;
    width: 25%;
  }

  .socialBar {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    .socialIcon {
      font-size: 3rem;
      cursor: pointer;
      border-radius: 20%;
      border: none;
      width: 60px;
      height: 60px;
      background-color: rgb(0, 0, 0);
    }
    .ins {
      color: black;
    }
    .ins:hover {
      font-size: 220px;
      line-height: 250px;
      mix-blend-mode: difference;
      border-radius: 50%;
      transition: 0.5s ease-in-out;
      vertical-align: middle;
      background: #d6249f;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
    }
    .fac {
      color: black;
    }
    .fac:hover {
      background-color: #3b5998;
      mix-blend-mode: difference;
      border-radius: 50%;
      transition: 0.7s ease-in-out;
    }
    .tw:hover {
      background-color: #00acee;
      border-radius: 50%;
      mix-blend-mode: difference;
      transition: 0.7s ease-in-out;
    }
  }
  .credits {
    width: 25%;
    color: #6f4e37;
  }
}
