.footer {
  width: 100%;
  background-color: #020202;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 80px;
  outline: 6px solid #6f4e37;
  border-top: 1px solid #555555;
  .copyRights {
    color: #6f4e37;
    width: 25%;
  }
  .socialIcons {
    width: 25%;
    font-size: 1.8rem;
    margin-bottom: 15px;
    .socialLinks {
      margin: 0 10px;
      cursor: pointer;
    }
    .fac {
      background-color: goldenrod;
      border-radius: 50%;
      color: #1f4699;
      mix-blend-mode: difference;
      font-size: 2rem;
    }
    &.ins {
      background-color: rgb(179, 50, 50);
      font-size: 2rem;
      mix-blend-mode: difference;
    }
    &.twi {
      background-color: rgb(44, 23, 83);
      width: 50px;
      height: 50px;
      mix-blend-mode: difference;
      font-size: 2rem;
    }
  }
  .credits {
    width: 25%;
    color: #6f4e37;
  }
}
