@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.menuBox {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  width: 80%;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #6f4e37;
  .filterBox {
    width: 500px;
    min-height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    .filterBtn {
      width: 100px;
      border-radius: 4px;
      border: 1px solid #6f4e377c;
      height: 40px;
      color: #d1d1d1;
      font-weight: 700;
      font-size: 1.1rem;
      background-color: #7a5d48f6;
      outline: none;
    }
    .filterBtn:hover {
      background-color: #221810;
    }
    .on {
      background-color: #221810;
    }
  }
  .menuBody {
    width: 100%;
    min-height: 250px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    .itemBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      height: 200px;
      border-radius: 8px;
      background-color: lightgrey;
      margin: 10px 20px;
      .menuDrink {
        background-color: #7c4218f6;
        color: #dbdbdb;
        width: 230px;
        border-radius: 4px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Great Vibes", cursive;
        .drinkTitle {
          font-size: 2.5rem;
          text-align: center;
          margin-top: 25px;
        }
        .price {
          font-size: 2.5rem;
          font-weight: 700;
          padding: 4px 6px;
          color: #d6d6d8;
        }
      }
      .menuDesc {
        height: 160px;
        max-width: 450px;
        color: #2f3347d2;
        text-align: center;
        padding-top: 10px;
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
        .addBox {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .imgMenu {
            width: 60px;
            height: 60px;
          }
          .chartBtn {
            width: 190px;
            height: 45px;
            border-radius: 4px;
            border: none;
            margin-top: 10px;
            border: 1px solid #7c4218f6;
          }
          .chartBtn:hover {
            background: #7c4218f6;
            color: #ffffff;
          }
        }
      }
    }
  }
}
